<?xml version="1.0"?>
<model>
  <name>fetch_pick_and_place_cylinder</name>
  <version>0.0.0</version>
  <author>
   <name>Shun Hasegawa</name>
   <email>pazeshun3684@gmail.com</email>
  </author>
  <sdf>model.sdf</sdf>
  <description>
    A cylinder for fetch_pick_and_place demo.
  </description>
</model>
